img.img-thumbnail {
    height: 130px;    
    min-width: 130px !important;
    margin-bottom: 5px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.not-approved {
    opacity: 0.3;
}

.img-wrapper {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 50%;
    right: 20%;
}

.img-text span {
    font-weight: 400;
}